* @Vakulaaa

/apps/api/** @state-authorities-team/backend @Vakulaaa
/apps/web/** @state-authorities-team/frontend @Vakulaaa
/apps/bff/** @state-authorities-team/backend @state-authorities-team/frontend @Vakulaaa
/packages/shared-types/** @state-authorities-team/backend @state-authorities-team/frontend @Vakulaaa
/packages/ui/** @state-authorities-team/frontend @Stas-Steshenko
/infra/** @Vakulaaa
/.github/workflows/** @Vakulaaa
/docs/** @state-authorities-team/pm
