.section {
  padding-bottom: 20px;
  background: #ffffff;
}

.card {
  padding: 20px;
  background: #ffffff;
  border: 2px solid #031126;
  border-radius: 10px;
}

.title {
  margin: 0 0 20px;

  font-size: 32px;
  font-weight: 700;
  line-height: 1;

  color: #031126;
}

.description {
  margin: 0 0 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  color: #031126;
}

.subtitle {
  margin: 0 0 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  color: #031126;
}

.list {
  margin: 0;
  padding-left: 24px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  color: #031126;
}

.list li + li {
  margin-top: 4px;
}
