.filtersPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.filtersHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.filterTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--tekst);
  margin: 0;
}

.filterIcon {
  display: flex;
  width: 36px;
  height: 36px;
  color: #64748b;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelTitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: var(--tekst);
}

.searchInputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #94a3b8;
}
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.resetButton {
  margin-top: 10px;

  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.2s;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--tekst);
}

.resetButton:hover {
  opacity: 0.7;
}
